<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <AUTOMATION_ENABLE_LONGRUN>1</AUTOMATION_ENABLE_LONGRUN>
      <AUTOMATION_P2LR_PROFILE>formal72h</AUTOMATION_P2LR_PROFILE>
      <AUTOMATION_P2LR_SOAK_MINUTES>4320</AUTOMATION_P2LR_SOAK_MINUTES>
      <AUTOMATION_P2LR_JITTER_MINUTES>240</AUTOMATION_P2LR_JITTER_MINUTES>
      <AUTOMATION_P2LR_MEMORY_MINUTES>4320</AUTOMATION_P2LR_MEMORY_MINUTES>
      <AUTOMATION_P2LR_HANDLE_MINUTES>4320</AUTOMATION_P2LR_HANDLE_MINUTES>
      <AUTOMATION_P2LR_SAMPLE_MS>30000</AUTOMATION_P2LR_SAMPLE_MS>
      <AUTOMATION_P2LR_MIN_CYCLE_PER_MINUTE>1</AUTOMATION_P2LR_MIN_CYCLE_PER_MINUTE>
      <AUTOMATION_P2LR_MAX_ALARM_LATENCY_MS>3000</AUTOMATION_P2LR_MAX_ALARM_LATENCY_MS>
      <AUTOMATION_P2LR_JITTER_COOLDOWN_MS>20</AUTOMATION_P2LR_JITTER_COOLDOWN_MS>
      <AUTOMATION_P2LR_JITTER_MAX_BURST>3</AUTOMATION_P2LR_JITTER_MAX_BURST>
      <AUTOMATION_P2LR_JITTER_BURST_PROBABILITY>0.30</AUTOMATION_P2LR_JITTER_BURST_PROBABILITY>
      <AUTOMATION_P2LR_MIN_TREND_HOURS>0.50</AUTOMATION_P2LR_MIN_TREND_HOURS>
      <AUTOMATION_P2LR_MAX_MEMORY_DRIFT_RATIO>0.10</AUTOMATION_P2LR_MAX_MEMORY_DRIFT_RATIO>
      <AUTOMATION_P2LR_MAX_MEMORY_SLOPE_MB_PER_HOUR>8.0</AUTOMATION_P2LR_MAX_MEMORY_SLOPE_MB_PER_HOUR>
      <AUTOMATION_P2LR_MAX_HANDLE_DELTA>300</AUTOMATION_P2LR_MAX_HANDLE_DELTA>
      <AUTOMATION_P2LR_MAX_THREAD_DELTA>20</AUTOMATION_P2LR_MAX_THREAD_DELTA>
      <AUTOMATION_P2LR_MAX_GDI_DELTA>50</AUTOMATION_P2LR_MAX_GDI_DELTA>
      <AUTOMATION_P2LR_MAX_HANDLE_SLOPE_PER_HOUR>12.5</AUTOMATION_P2LR_MAX_HANDLE_SLOPE_PER_HOUR>
      <AUTOMATION_P2LR_MAX_THREAD_SLOPE_PER_HOUR>0.84</AUTOMATION_P2LR_MAX_THREAD_SLOPE_PER_HOUR>
      <AUTOMATION_P2LR_MAX_GDI_SLOPE_PER_HOUR>2.1</AUTOMATION_P2LR_MAX_GDI_SLOPE_PER_HOUR>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
