<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <EnvironmentVariables>
      <AUTOMATION_ENABLE_LONGRUN>1</AUTOMATION_ENABLE_LONGRUN>
      <AUTOMATION_P2LR_PROFILE>smoke</AUTOMATION_P2LR_PROFILE>
      <AUTOMATION_P2LR_SOAK_MINUTES>1</AUTOMATION_P2LR_SOAK_MINUTES>
      <AUTOMATION_P2LR_JITTER_MINUTES>1</AUTOMATION_P2LR_JITTER_MINUTES>
      <AUTOMATION_P2LR_MEMORY_MINUTES>1</AUTOMATION_P2LR_MEMORY_MINUTES>
      <AUTOMATION_P2LR_HANDLE_MINUTES>1</AUTOMATION_P2LR_HANDLE_MINUTES>
      <AUTOMATION_P2LR_SAMPLE_MS>2000</AUTOMATION_P2LR_SAMPLE_MS>
      <AUTOMATION_P2LR_MIN_CYCLE_PER_MINUTE>1</AUTOMATION_P2LR_MIN_CYCLE_PER_MINUTE>
      <AUTOMATION_P2LR_MAX_ALARM_LATENCY_MS>5000</AUTOMATION_P2LR_MAX_ALARM_LATENCY_MS>
      <AUTOMATION_P2LR_JITTER_COOLDOWN_MS>10</AUTOMATION_P2LR_JITTER_COOLDOWN_MS>
      <AUTOMATION_P2LR_JITTER_MAX_BURST>2</AUTOMATION_P2LR_JITTER_MAX_BURST>
      <AUTOMATION_P2LR_JITTER_BURST_PROBABILITY>0.20</AUTOMATION_P2LR_JITTER_BURST_PROBABILITY>
      <AUTOMATION_P2LR_MIN_TREND_HOURS>0.50</AUTOMATION_P2LR_MIN_TREND_HOURS>
    </EnvironmentVariables>
  </RunConfiguration>
</RunSettings>
